  {{> main-open}}

<div class="all-TAs">
  <h2>Our TA's</h2>
</div>

{{#each posts}}
<section class="card">
  <a href="/blogs/{{id}}" class="card-body">
    <h3 class="card-title">{{tum.ta_name}}</h3> 
      <h5>posted by {{user.name}} on {{post_date}}</h5>
        <p class="card-text">{{post_text}}</p>
  </a>
</section>
{{/each}}

  {{> main-close}}